---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>My Astro Site</title>
	</head>
	<body>

        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

		<h1>About me</h1>
        <h2>... and my new Blog!</h2>

        <p>My name is <strong>John Doe</strong>, and I am a software engineer.</p>

        <p>My new blog is a place where I share my thoughts and ideas about software development, technology, and life in general.</p>
	</body>
</html>
